#idas_chart {
  height: 400px;
  width: 600px;
  margin-left: 3%;
  margin-top: 40%
}

#religion_chart{
  height: 400px;
  width: 600px;
  margin-left: 3%;
}

.axis path,
.axis line {
    fill: none;
    /*stroke: black;*/
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: white;
}

svg text {
  font-size: 11px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  svg text {
    font-size: 13px;
  }
}
