#idas_chart {
  height: 300px;
  width: 50%;
  margin-left: 40%;
  /*margin-right: 25%;*/
  margin-top: 40%;
}

#religion_chart{
  height: 300px;
  width: 95%;
  margin-left: 0%;
  margin-top: 0%;
}

.axis path,
.axis line {
    fill: none;
    /*stroke: black;*/
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    fill: white;
}

svg text {
  font-size: 11px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  svg text {
    font-size: 13px;
  }

  #idas_chart {
    height: 300px;
    width: 100%;
    margin-left: 2%;
    /*margin-right: 25%;*/
    margin-top: 40%;
  }

}
