

  .explainer_text{
    color: white;
    margin-right: 15%;
    margin-left: 15%;
    text-align: center;
    font-size: 4.0vh;
  }

  .explainer_text.small{
    font-size: 3.0vh;
  }

  .explainer_text.small{
    text-align: left;
    font-size: 3.0vh;
    /*margin-bottom: 90%; */
  }

  .ida_chart_text{
    text-align: center;
    margin-bottom: -35%;
    margin-left: 10%;
  }

  .explainer_text.ida_chart_text.religion{
    /*margin-top: -10%;*/
    margin-bottom: 10%;
  }

  .section_header{
    color: black;
    font-family: arial;
    margin-left: 35%;
    /*margin-right: 5%;*/
    margin-top: 20%;
    float: right;
    /*width: 50%;*/
    position: absolute;
  }

  .header {
    color: white;
    font-family: arial;
    width: 50%;
    margin: auto;
    font-size: 5.0vh;
  }

  .section_header.centered {
    /*text-align: center;*/
    font-size: 5.0vh;
    margin-left: 10%;
    /*margin-right: 20%;*/
  }

  .section_header.centered.mid_upper {
    /*text-align: center;*/
    font-size: 5.0vh;
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 10%;
  }

  .section_header.centered.upper {
    /*text-align: center;*/
    font-size: 5.0vh;
    margin-left: 10%;
    margin-right: 20%;
    margin-top: 4%;
  }

  .header.centered{
    text-align: center;
    font-size: 5.0vh;
  }

  .header.hospital{
    margin-bottom: 0%;
    margin-left: 30%;
  }

  .header.small_header{
    font-size: 1.5em;
    margin: auto;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }

  .header.small_header.explainers{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .header.small_header.explainers2{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1em;
  }

  /*#lohud_header{
    text-align: center;
    color: white;
    font-size: 2em;
    margin-left: 10%;
    margin-right: 10%;
  }*/

  .image_header{
    color: black;
    margin-left: 20%;
    width: 70%;
    font-size: 4.5vh;
  }

  .header.image_header.double{
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .header.image_header.small{
    width: 40%;
    /*top: 40; */
    margin-right: 25%;
    margin-left: 25%;
    /*margin: 0 auto;*/
  }

  .header.image_header.small_text{
    width: 90%;
    /*top: 40; */
    margin-right: 5%;
    margin-left: 5%;
    font-size: 4.0vh;
    /*margin: 0 auto;*/
  }

  .image_header.second{
    width: 60%;
  }

  #religion_homepage{
    background: url('yeshivas.JPG') no-repeat center / cover;
  }

  #religion_header{
    font-size: 48px;
    color: black;
    text-align: center;
    background: rgba(255, 255, 255, 0.7);
    margin-bottom: 75%;
  }

  .religion_intro{
    margin-top: -50%;
    text-align: center;
    color: white;
    margin-right: 10%;
    margin-left: 10%;
  }

  /*canvas{
        width: 100% !important;
        max-width: 800px;
        height: auto !important;
    }*/


  #rockland_image_religious{
    zoom: 30%;
  }

#exemptionHeader{
  margin: 10%
}

#menu{
  /*display: none;*/
  /*width: 99%;*/
  /*height: 20%;*/
  /*position:fixed;
  z-index: 70;*/
}

#menu li{
  text-decoration: none;
  display: inline-block;
  margin: 1em;
  /*margin-top: .5em;
  background-color: #fff;*/
  height: 2em;
  padding: .5em;
  height: 50%;
  border-radius: 10px;
  /*font-family: arial;*/
  width: 15%;
  /*text-align: center;*/
  /*font-size: 24px;*/

  background: rgba(255, 255, 255, 0.5);
}

#menu li:hover {
  background: rgba(255, 255, 255, 1);
}

#menu a {
  text-decoration: none;
  color: black;
}

.fp-tableCell {
    height: 100% !important;
    }

#grid{
  margin-top: 33%;
  margin-left: 8%;
}

.squares_container{
  /*margin-left: 9%;
  margin-top: 0%;
  margin-bottom: 30%;*/
  margin-left: 40%;
  width: 70%;
  display: inline-block;
  /*height: 10%*/
}

.squares_container_second{
  /*margin-left: 9%;
  margin-top: 0%;
  margin-bottom: 30%;*/
  margin-right: 20%;
  width: 70%;
  display: inline-block;
  /*height: 10%*/
}

.axis path, .axis line{
  stroke: #793232;
}

#squares{
  margin-left: 2%;
  width: 220px;
  height: 360px;
}

.squares_header{
  text-align: center;
  color: white;
}

#first_squares_header{
  margin-top: 5%;
}

#second_squares_header{
  margin-left: 20%;
}


#ida_iframe{
  width: 80%;
  height: 80%;
}


svg{
  /*width: 90%;
  height: 50%;*/
  margin-bottom: 10%;
}


#squares, #squares2{
  display: none;
  position: relative;
}

.avalon_slide{
  background: url('../assets/avalon.jpg') no-repeat center / cover;
}

#avalon{
  display: none;
  opacity: .5;
  z-index: -1;
}

#religion_states_mobile_container{
  display: none;
}

#religion_states_desktop_container{
  width: 70%;
  margin-left: 10%;
}

#ramapo_bar{
  margin-left: 10%;
}

#country{
  width: 40%;
  margin-left: 30%;
  /*margin-left: 50%;
  margin-bottom: 30%;*/
  /*filter: invert(100%);*/
}
