#screen, #split_screen_1, #split_screen_2{background:black; color:white; padding:10px; overflow:hidden; position:relative;
width:80%;
    height:70%;
    margin: 0 auto;
  }
.intro_content{
    z-index:9;
    position:relative;
}
.intro_fill{
    z-index;1;
    width:100%;
    height:0%;
    position:absolute;
    background:#4aa1cc;
    left:0px;
    bottom:0px;
}

.first_division{
  z-index;1;
  width:100%;
  height:0%;
  position:absolute;
  background: -webkit-linear-gradient(top,#cc4a5d, #cc4a5d 66%, transparent 66%, transparent 34%, #4aa1cc 34%);
  left:0px;
  bottom:0px;
}

.second_division{
  z-index;1;
  width:100%;
  height:0%;
  position:absolute;
  background: -webkit-linear-gradient(top, #cc4a5d, #cc4a5d 34%, transparent 34%, #4aa1cc 0%);
  left:0px;
  bottom:0px;
}

/*.property_bar{
  background-color: #95b6bb;
  background-color: #4aa1cc;
  height: 60%;
  width: 10%;
  margin-left: 10%;
  margin-top: 20%;
  padding-bottom: -10%;
  position: relative;
  z-index: 0;
}*/

#screen1{
  color: white;
  z-index: 1;
  position: fixed;
  filter: alpha(opacity=50);
  background-color:rgba(256, 256, 256, 0.6);
  width: 10%;
  height: 20%;
}

#screen2{
  color: white;
  z-index: 1;
  position: fixed;
  filter: alpha(opacity=50);
  background-color:rgba(256, 256, 256, 0.6);
  width: 10%;
  height: 40%;
  margin-top: 35.5%;
}

.logo{
  width: 12%;
  margin-left: 5%;
  margin-top: 2%;
}

  .lohud{
    width: 40%;
    margin-left: 10%;
    margin-top: 0%;
  }

  .lohud.first{
    margin-bottom: 20%;
  }

  .lohud_small{
    width: 30%;
    margin-left: 10%;
    margin-top: 0%;
  }

  .lohud.logo{
    margin-left: 5%;
    /*zoom: 160%;*/
    margin-top: -2%;
  }

  #property_bar{
    /*width: 100%;*/
    /*height: 100%;*/
    /*margin-left: -19.3%;*/
  }

  .section_header.centered.white {
    width: 35%;
    padding-right: 15%;
    color: white;
    position: relative;
    margin-right: 10%;
    text-align: left;
    padding-top: 10%;
    margin: 0 auto;
  }

  .section_header.centered.white.desktop {
    width: 80%;
    padding-right: 0%;
    padding-top: 0%;
    /*padding-left: 20%;*/
  }

  .intro_bar, .intro_bar_2{
    display: inline-block;
    width: 50%;
  }

  .intro_bar svg, .intro_bar_2 svg {
    margin-left: 39%;
  }

  .intro_contents{
    display: inline-block;
  }

.intro_bar_mobile_container{
  display: none;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 800px) {
  .intro_bar_mobile_container{
    display: block;
  }

  .intro_bar_desktop_container{
    display: none;
  }

  .logo{
    margin-top: 7%;
    width: 30%;
  }

  .intro_bar svg, .intro_bar_2 svg {
    margin-left: 29%;
  }

}

@media only screen and (min-width : 320px) and (max-width : 800px) {
  .intro_bar_mobile_container{
    display: block;
  }

  .intro_bar_desktop_container{
    display: none;
  }

  .logo{
    margin-top: 7%;
    width: 30%;
  }

  .intro_bar svg, .intro_bar_2 svg {
    margin-left: 29%;
  }

}
