@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-piexel-ratio: 1){

  #westchester_image{
    zoom: 30%;
    /*margin-top: 40%;*/
    margin-right: 30%;
    margin-left: 30%;
    /*margin-left: 22%;*/
  }

}
