@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  #screen, #split_screen_1, #split_screen_2{background:black; color:white; padding:10px; overflow:hidden; position:relative;
  width:60%;
      height:60%;
      margin: 0 auto;
      margin-top: 10%;
      margin-bottom: 20%;
    }

    .section_header.centered {
      text-align: left;
      font-size: 3.5vh;
      /*margin-left: 30%;
      margin-right: 20%;*/
    }

    .section_header.centered.mid_upper {
      text-align: left;
      font-size: 3.5vh;
      margin-top: 20%;
      /*margin-left: 30%;
      margin-right: 20%;*/
    }


    .section_header.centered.upper {
      /*text-align: center;*/
      text-align: left;
      font-size: 3.5vh;
      margin-top: 4%;
    }

    #menu {
      /*display: none;*/
    }

    #menu li{
      margin: .25em;
    }
    
    #property_bar{
      /*width: 144%;*/
      height: 82% !important;
      /*margin-top: -40%; */
      /*margin-bottom: -50%;*/
      /*position: absolute;*/
      /*height: 100%;*/
      /*margin-left: -19.3%;*/
    }

    #property_bar_container{
      /*width: 100%;*/
      height: 80%;
      margin-bottom: -72%;
      margin-right: 0 auto;
      margin-left: 0 auto;
      /*position: absolute;*/
      /*height: 100%;*/
      /*margin-left: -19.3%;*/
    }

    .header.image_header.small{
      width: 70%;
      margin: 0 auto;
      }

    #lohud{
      width: 80%;
      margin-left: 10%;
      margin-top: 0%;
    }

    #lohud_small{
      width: 40%;
      margin-left: 10%;
      margin-top: 0%;
    }

    #squares{
      margin-top: 0%;
      margin-left: 12%;
      margin-bottom: -40%;
    }


    /*#rockland_image{
      margin-top: -80%;
      margin-bottom: 80%;
      width:100%;
      max-height:100%;
    }*/

    #ida_iframe{
      margin-left: 10%;
      width: 80%;
      height: 60%;
    }

    .icon_page{
      margin-top: -30%;
    }

    .icon_page.hospital{
      margin-top: -10%;
    }

    .icon.negative.hospital{
      width: 70%;
      margin-left: 15%;
    }


    #religion_intro{
      background-color: black;
    }


    #hospital_image{
      /*-webkit-filter: invert(1);
filter: invert(1);*/
zoom: 50%;
margin-left: 17%;
    }

    .exemption_pie_svg{
      zoom: 40%;
      margin-bottom: 30%;
    }


    .icon, .icon.public_land, .icon.small, .icon.negative.universities {
      width: 60%;
      margin: 0 auto;
      margin-left: 20%;
      margin-top: 5%;
    }

    .icon.negative{
      -webkit-filter: invert(1);
  filter: invert(1);
    }


    .icon.negative.religious{
      width: 50%;
      margin-left: 25%;
      margin-top: 15%;
    }

    .icon.negative.business_image{
      width: 60%;
      margin-left: 20%;
      margin-top: 6%;
    }

    #second_odometer_slide{
      margin-bottom: 25%;
    }

    .ida_chart_text{
      text-align: left;
      margin-bottom: -35%;
      margin-left: 10%;
    }

    .explainer_text.ida_chart_text.religion{
      /*margin-top: -10%;*/
      margin-bottom: 10%;
    }

    .odometer_and_dollar.millions_container.zero{
      margin-left: 13%;
      margin-bottom: 10%;
      /*position: absolute;*/
    }

    .header.image_header.counties{
      margin: 0 auto;
    }

    .header.image_header.small{
      /*width: 70%;*/
      /*top: 40; */
      margin-right: 35%;
      margin-left: 25%;
      /*margin-top: 10%; */
      /*margin: 0 auto;*/
    }

    #new_york_counties{
      margin-left: 15%;
      margin-top: -20%;
      margin-bottom: 5%;
    }

    #religion_states_desktop_container{
      display: none;
    }
    #religion_states_mobile_container{
      margin-left: 10%;
      display: block;
    }

    #country{
      zoom: 40%;
      width: 70%;
      margin-left: 15%;
      margin-bottom: 30%;
      /*filter: invert(100%);*/
    }

    .header.image_header.small_text{
      width: 90%;
      /*top: 40; */
      margin-right: 5%;
      margin-left: 5%;
      font-size: 3.0vh;
      /*margin: 0 auto;*/
    }


  }
