.slide.park_slide{
  background: url('../assets/Letchworth_State_Park.jpeg') no-repeat center / cover;
  /*opacity: .5;*/
  z-index: -1;
}

.slide.park_slide_bw{
  background: url('../assets/Letchworth_State_Park.jpeg') no-repeat center / cover;
  /*opacity: .5;*/
  z-index: -1;
}

#black_text{
  color: black;
}

.public_land_section{
  color: white;
}

.slide.sing_sing{
  background: url('../assets/sing_sing.jpg') no-repeat center / cover;
  color: white;
}

.slide.taconic_womens{
  background: url('../assets/bedford_hills.jpg') no-repeat center / cover;
  /*background: url('../taconic_womens_copyrighted.jpg') no-repeat center / cover;*/
}

.slide.aqueduct_1{
  background: none;
  /*background: url('../taconic_womens_copyrighted.jpg') no-repeat center / cover;*/
}

.slide.aqueduct_2{
  background: none;
  /*background: url('../taconic_womens_copyrighted.jpg') no-repeat center / cover;*/
}

.aqueduct_desktop{
  background: url('../assets/Croton_jpg_1.jpg') no-repeat center / cover;
  height: 60%;
  width: 30%;
  zoom: 100%;
  margin: 0 auto;
}

.aqueduct_desktop.second{
  background: url('../assets/Croton_jpg_2.jpg') no-repeat center / cover;
}

.aqueduct_text{
  background: rgba(255, 255, 255, .8);
  width: 70%;
  padding: 3%;
  margin: 0 auto;
  margin-top: 3%;
  border-radius: 1%;
  /*margin-top: 110%;*/
}

#new_york_image{
  zoom: 30%;
  margin-left: 10%;
}

#new_york_counties{
  margin-top: 0%;
  margin-bottom: 5%;
}

/*#putnam_parks_image{
  zoom: 90%;
}*/

#putnam_rockland{
  margin-top: -20%;
}

/*#rockland_parks_image{
  zoom: 22%;
  margin-left: -5%;
}*/

#putnam_rockland_image{
  /*zoom: 80%;*/
width: 40%;
margin-top: 20%;
  margin-left: 25%;
  margin-bottom: -5%;
}


#counties{
  margin-top: -40%;
}

.explainer_text.putnam{
  margin-top: 10%;
}

.red{
  color: red;
}

.white{
  color: white;
  font-family: arial;
  margin-left: 16%;
  margin-bottom: 9%;
  font-size: 2em;
  text-align: center;
}

#millions{
  color: green;
  font-size: 1em;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

#westchester_image{
  zoom: 30%;
  /*margin-left: 22%;*/
  margin-top: -20%;
}

#putnam_rockland_image{
  /*zoom: 80%;*/
width: 70%;
margin-top: -20%;
  margin-left: 15%;
  margin-bottom: -5%;
}

.slide.aqueduct_1{
  background: url('../assets/Croton_jpg_1.jpg') no-repeat center / cover;
  /*background: url('../taconic_womens_copyrighted.jpg') no-repeat center / cover;*/
}

.slide.aqueduct_2{
  background: url('../assets/Croton_jpg_2.jpg') no-repeat center / cover;
  /*background: url('../taconic_womens_copyrighted.jpg') no-repeat center / cover;*/
}

.aqueduct_desktop, .aqueduct_desktop.second{
  background: none;
  height: 100%;
  width: 100%;
}

.aqueduct_text{
  margin-bottom: 50%;
}

}
