#religion_states_mobile_container{
  display: none;
}

#religion_states_desktop_container{
  width: 70%;
  margin-left: 10%;
}

#ramapo_bar{
  margin-left: 20%;
  margin-bottom: -10%;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

  #ramapo_bar{
    margin-left: 10%;
    margin-bottom: 10%;
  }

  #religion_states_mobile_container{
    display: block;
  }

  #religion_states_desktop_container{
    display: none;
  }


}


/*#squares{
  margin-left: 2%;
  width: 220px;
  height: 360px;
}

.squares_header{
  text-align: center;
  color: white;
}

#first_squares_header{
  margin-top: 5%;
}

#second_squares_header{
  margin-left: 20%;


}*/

.squares_container{
  /*margin-left: 9%;
  margin-top: 0%;
  margin-bottom: 30%;*/
  margin-left: 40%;
  width: 70%;
  display: inline-block;
  /*height: 10%*/
}
