#brockport_image{
  zoom: 25%;
  width: 60%;
  margin-left: 20%;
  /*margin-left: 12%;*/
  /*margin: auto;*/
}

.pie_chart_container{
  width: 50%;
  margin-left: 25%;
}

/*.quote.blackman{
  margin-top: 70%;
}

.quote.farrar{
  margin-top: 70%;
}*/

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
#brockport_image{
  zoom: 25%;
  width: 80%;
  margin-left: 12%;
  /*margin: 0 auto;*/
}

.pie_chart_container{
  width: 100%;
  margin-left: 0%;

}

}
